/*This is the div section in the body*/

html {
    margin: 10px
}

body {
    margin: 2rem auto;
    min-height: calc(100vh - 70px);
    max-width: 1300px;
}

h2 {
    color: green;
}

p {
    color: rgb(207, 29, 29);
    font-size: 14px;
}

.christmasScene {
    position: relative;
    border: 1px solid black;
    height: 600px;
    width: 900px;
}

#winterBackground {
    height: 600px;
    width: 900px;
    position: absolute;
}

#christmasTree {
    position: absolute;
    bottom: 10px;
    left: 250px;
}


/*The star be used here to show transform and transition*/

#cStar {
    transition: transform .5s linear;
    position: absolute;
    top: 260px;
    left: 350px;
}

#cStar:hover {
    transform: rotateY(360deg) scaleY(2);
    -webkit-transform: rotateY(360deg) scaleY(2);
}


/*Santa will be used to show how to animate without custom libraries*/

#santa {
    animation: fly 8s linear 1s 3 forwards;
    position: absolute;
    bottom: 200px;
    left: -600px;
}

@keyframes fly {
    0% {
        bottom: 200px;
        left: -1200px;
    }
    50% {
        bottom: 400px;
        left: 400px;
    }
    100% {
        bottom: 700px;
        left: 3000px;
    }
}
